.video {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    margin-bottom: $gutter;

    @media (max-width: 700px) {
      font-size: 1.5rem;
    }

    @media (max-width: 600px) {
      font-size: 1rem;
    }

  }

  &__video-container {
    position: relative;
    width: 80%;
    margin-bottom: $gutter;

    @media (max-width: 1050px) {
      width: 90%;
    }

    @media (max-width: 700px) {
      width: 100%;
    }
  }

  &__video {
    width: 100%;
  }

  &__overlay {
    position: absolute;
    bottom: 1%;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 99%;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.2);

    @media (max-width: 1000px) {
      bottom: 1.5%;
      height: 98.7%;
    }

    @media (max-width: 451px) {
      bottom: 2.5%;
      height: 96.9%;
    }
  }

  &__overlay-hidden {
    display: none;
  }

  &__over {
    width: 5%;
  }

  &__button-list {
    display: flex;
    width: 26.667%;
    margin-bottom: $gutter;
    justify-content: space-around;

  }

  &__back {
    width: 15%;
    padding: 3px;
    color: inherit;
    background: none;
    border: 0;

    &:focus {
      outline-color: #808080;
    }
  }

  &__image:focus {
    background-color: #fff;
  }

  &__play-and-pause {
    width: 15%;
    padding: 3px;
    color: inherit;
    background: none;
    border: 0;

    &:focus {
      outline-color: #808080;
    }
  }

  &__play {
    width: 100%;
  }

  &__play-hidden {
    display: none;
  }

  &__pause {
    width: 100%;
  }

  &__pause-hidden {
    display: none;
  }

  &__mute-and-unmute {
    width: 15%;
    padding: 3px;
    color: inherit;
    background: none;
    border: 0;

    &:focus {
      outline-color: #808080;
    }
  }

  &__mute {
    width: 100%;
  }

  &__mute-hidden {
    display: none;
  }

  &__unmute {
    width: 100%;
  }

  &__unmute-hidden {
    display: none;
  }

  &__fullscreen {
    width: 15%;
    padding: 3px;
    color: inherit;
    background: none;
    border: 0;

    &:focus {
      outline-color: #808080;
    }
  }

  &__next {
    width: 15%;
    padding: 3px;
    color: inherit;
    background: none;
    border: 0;

    &:focus {
      outline-color: #808080;
    }
  }

  &__to-original-page {
    font-weight: bold;

    color: #fff;
    text-decoration: none;
  }

}
