.videolist {
  &__row {
    display: flex;
    margin-top: $gutter;

    @media (max-width: 1050px) {
      flex-wrap: wrap;
      justify-content: space-between;
    }

  }

  &__break {
    width: 85%;
    margin: auto;
    margin-top: 2 * $gutter;
    margin-bottom: 2 * $gutter;
    border-bottom: 1px solid #eee;
  }

  &__col {
    display: flex;
    width: 31%;
    margin-right: $gutter;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    flex-direction: column;

    @media (max-width: 1050px) {
      width: 49%;
      margin-right: 0;
      margin-bottom: $gutter;
    }

    @media (max-width: 600px) {
      width: 100%;
    }
  }

  &__poster {
    max-width: 100%;
    position: relative;
  }

  &__overlay {
    position: absolute;
    font-size: 0.875rem;
    right: 1%;
    bottom: 6%;
  }
  
  &__over {
    padding: 3px 4px;
    background-color: rgba(0, 0, 0, 0.5);
  }

  &__title {
    height: 1.5rem;
    overflow: hidden;
    font-weight: bold;
  }

  &__date-created {
    font-size: 0.875rem;
  }
}

.error {
  display: flex;
  width: 100%;
  height: 70vh;
  justify-content: center;
  align-items: center;
}
